body {
  margin: 0;
  font-family: "Cairo", sans-serif;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
}

.nav__icons {
  width: 22px;
  height: 22px;
  font-size: 12px;
  line-height: 7px;
  right: 15px;
  top: -7px;
}

.MuiDataGrid-cell.MuiDataGrid-cellLeft {
  display: flex !important;
}


.li__home {
  transition: 0.5s;
}

.li__home:hover {
  padding-left: 10px;
  color: cadetblue;
}